* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body::before {
  display: block;
  content: "";
  height: 60px;
  font-family: "Open Sans", sans-serif;
}

body {
  overflow-x: hidden;
}
h1,
h2,
h5 {
  font-family: "Ubuntu", sans-serif;
}

p {
  font-family: "Open Sans", sans-serif;
}

/* navbar */
#nav {
  position: sticky;
  top: 0;
  z-index: 1001;
}

.navbar {
  background-image: linear-gradient(to right, #00d2ff, #3a7bd5);
}

.navbar-brand span {
  font-weight: bold;
  font-family: "Rubik", sans-serif;
  color: #fff;
  font-size: 2rem;
}

.navbar-item {
  padding: 0 10px;
}

#loginbtn {
  margin: 0 10px 0 10px;
}

.nav-link.colornav {
  color: #fff !important;
}
#nav-toggler-icon {
  color: #fff;
}
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255,0.8)'  stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.custom-toggler.navbar-toggler {
  border-color: #fff;
}

/* .wave {
  position: relative;
} */
.wave {
  position: absolute;
  left: 0;
  bottom: -5%;
  visibility: inherit;
}

/* banner */
#banner {
  position: relative;
  background-image: linear-gradient(to right, #00d2ff, #3a7bd5);
}
.banner-img {
  position: relative;
  z-index: 1000;
  margin: 20px;
}

#title {
  margin: 10px 0px;
}

/* section */
.section_title {
  max-width: 80rem;
}

.section_description {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-primary);
  text-align: center;
  font-family: "Ubuntu", sans-serif;
}

.section_header {
  font-size: 1.8rem;
  line-height: 2;
  font-weight: 500;
  text-align: center;
}

.features-icon {
  color: #3a7bd5;
  margin: 10px 10px;
}
.features-icon:hover {
  color: #00d2ff;
}
/* features */
#section--1 {
  margin-top: 10%;
  margin-bottom: 10%;
}
.features_catchline {
  font-family: "Ubuntu", sans-serif;
}

/* video */
#video {
  background-image: linear-gradient(to right, #00d2ff, #3a7bd5);
}
/* FAQ's */
#FAQ {
  margin: 8%;
}

/* our team */

#ourteamheading {
  color: #fff;
  font-family: "Ubuntu", sans-serif;
}
#ourteam {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, #00d2ff, #3a7bd5);
  position: relative;
}

#ourteam::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  clip-path: inset(47% 0 0 0);
  z-index: -1;
}
.ourcontainer {
  max-width: 950px;
  overflow: hidden;
  width: 100%;
  padding: 80px 0;
}

.ourcontainer .main-card {
  width: 200%;
  display: flex;
  justify-content: space-evenly;
  transition: all 1s ease;
}
#two:checked ~ .main-card {
  margin-left: -100%;
}

.main-card .cards {
  width: calc(100% / 2 - 10px);
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
  flex-wrap: wrap;
}

.main-card .cards .card {
  background: #fff;
  width: calc(100% / 3 - 10px);
  padding: 30px;
  border-radius: 20px;
  transition: all 0.4s ease;
}

.main-card .cards .card:hover {
  transform: translateY(-15px);
}
.cards .card .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cards .card .content .img {
  height: 130px;
  width: 130px;
  margin-bottom: 14px;
  background: #3a7bd5;
  border-radius: 50%;
  padding: 3px;
}

.card .content .img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #fff;
}

.card .content .details .name {
  font-size: 22px;
  font-weight: 500;
  color: #3077db;
  font-family: "Rubik", sans-serif;
}
.card .content .details .job {
  font-size: 18px;
}

.card .content .media-icons {
  display: flex;
  margin-top: 10px;
}
.card .content .media-icons a {
  height: 35px;
  width: 35px;
  color: #fff;
  background-color: #3a7bd5;
  margin: 0 4px;
  border-radius: 50%;
  text-align: center;
  line-height: 33px;
  border: 2px solid transparent;
  transition: all 0.4s ease;
}

.content .media-icons a:hover {
  border-color: #3a7bd5;
  color: #3a7bd5;
  background: #fff;
}

.slidebutton {
  display: flex;
  margin: 20px;
  justify-content: center;
}
.slidebutton label {
  height: 15px;
  width: 15px;
  background: #fff;
  margin: 0 4px;
  border-radius: 20px;
  transition: all 0.5s ease;
}

.slidebutton label.active {
  width: 35px;
}

#one:checked ~ .slidebutton label.one {
  width: 35px;
}
#two:checked ~ .slidebutton label.two {
  width: 35px;
}

#two:checked ~ .slidebutton label.one {
  width: 15px;
}
#one:checked ~ .slidebutton label.two {
  width: 15px;
}

input[type="radio"] {
  display: none;
}

@media (max-width: 600px) {
  .main-card .cards .card {
    width: 100%;
    margin-bottom: 25px;
  }
}

.list-group li {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}

/* contact */
.contact {
  margin: 50px;
}
#map {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

footer {
  position: relative;
  width: 100%;
  background: linear-gradient(to bottom, #00d2ff, #3a7bd5);
  min-height: 100px;
  padding: 10px 50px;
  display: flexbox;
  justify-content: center;
  align-items: center;
}

footer .footer__nav {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

footer .footer__nav li {
  list-style: none;
}

footer .footer__nav li a {
  font-size: 1.5em;
  color: #fff;
  margin: 0px 10px;
  display: inline-block;
  transition: all 0.5s ease;
}

footer .footer__nav li a:hover {
  transform: translateY(-10px);
}

.footer-line {
  text-align: center;
  color: #fff;
}
.copyw {
  text-align: center;
  color: #fff;
  font-size: 80%;
}
